{% extends 'StudenciakBundle:Page:base.html.twig' %}

{% block title %}
	Grupy
{% endblock %}

{% block general %}
	active
{% endblock %}
{% block grupy %}
	active
{% endblock %}

{% block view %}
    <div class="db-breadcrumbs">
        <a class="db-brdcmb-item" href="{{ path('index') }}">
            <i class="icon-home"></i>
        </a>
        <a class="db-brdcmb-item" href="{{ path('grupy') }}">
            Grupy
        </a>
    </div>

<h2>Grupy</h2>
   

{% endblock %}